.header {
  background-color: #20232a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  font-family: "Helvetica Neue";

  .brand {
    margin: 0;
    font-size: 16px;
    color: rgb(165, 216, 216);
    padding: 1rem 0;
    transform: skew(-15deg);
  }

  .link {
    text-decoration: none;
    color: #ccc;
    font-weight: light;
    margin: 0 0.5rem;
    transition: color 0.5s ease;
    text-transform: uppercase;
    font-size: 0.8rem;

    &:hover {
      color: rgb(124, 124, 124)
    }
  }

  .btnLink {
    border: none;
    appearance: none;
    background: inherit;
    cursor: pointer;
  }
}